body {
    background-color: powderblue;
  }
  table, th, td {
    border: 1px solid;
    text-align: left;
    
  }
  table {
    border-collapse: collapse;
    width: 80%;
    align-self: center;
  }
  th {
    background-color: rgb(235, 231, 216);
    height: 10px;
    line-height: 14px
    
  }
  td {
    background-color: white;
    height: 10px;
    line-height: 28px;
  }