@font-face {
    font-family: 'gascogne-2';
    src: url('fonts/gascogne-2.eot'); /* IE9 Compat Modes */
    src: url('fonts/gascogne-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/gascogne-2.woff') format('woff'), /* Modern Browsers */
         url('fonts/gascogne-2.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/gascogne-2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Basic reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'gascogne-2';
    /* background-color: #F0EAD6; eggshell color */
    color: #2b4a17;
    position: relative; /* To position the pseudo-element correctly */
    margin: 0;
    height: 100vh; /* Ensure the body takes the full viewport height */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('gardengate.jpg');
    background-size: cover; /* Make the image cover the entire screen */
    background-position: center; /* Center the image */
    opacity: 0.8; /* Set the opacity of the background image */
    z-index: -1; /* Ensure the image is behind other content */
  }

h2 {
    margin-top: 20px;
    color: #2b4a17; /* pale green color */
    font-size: 28px;
}

h3 {
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

h4 {
    margin-top: 30px;
}
p9 {
    letter-spacing: 1px;
}

p10 {
    letter-spacing: 2px;
}

.content-overlay {
    position: fixed;
    top: 0; /* Position the overlay in the middle of the screen */
    left: 12.5%;
    width: 75%;
    height: 100%; /* 2/3 of the screen */
    background-color: white;
    /* transform: translateY(-50%); This centers the overlay vertically */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.content-overlay * {
    position: relative; /* Keep your content in front of the overlay */
    z-index: 2; /* Ensure your content stays above the white background */
}

/* Tab styling */
.tabs {
    display: flex;
    width: 75%;
    left: 12.5%;
    position: relative;
    justify-content: space-around;
    background-color: #5d8659;
    padding: 10px 0;
    z-index: 3;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-family: "Dia",Arial,serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #333;
}

/* Content styling */
.content {
    position: relative;
    width: 75%;
    left: 12.5%;
    display: none;
    padding: 20px;
    text-align: center;
    z-index: 3;
}

.content img {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner {
    position: relative;
    width: 75%;
    left: 12.5%;
    display: none;
    padding: 20px;
    text-align: center;
    z-index: 3;
}

#banner-banner {
    display: block;
}

#venue-content, #rsvp-content, #about-content {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
}

button {
    background-color: #5d8659;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.team-member {
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin:0 auto;
    text-align:center;
}

ul {
    list-style-type: none;
    margin-top: 10px;

}

ul li {
    margin-bottom: 5px;
}

ul lii {
    font-size: 18px;
    font-weight: 600;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .tabs {
        flex-direction: column;
        padding: 5px 0;
    }

    .tab {
        padding: 12px;
        text-align: center;
        font-size: 16px;
    }

    input, button {
        width: 90%;
    }

    .content img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .team-member img {
        width: 120px;
        height: 120px;
        display: block;
        margin:0 auto;
        text-align:center;
    }
}
